            html{
                background: url('../images/mar.jpg') no-repeat center center fixed;
                background-size:cover;
            }
            .RegisterTitle{
                    text-align: center;
                    width: 80%;
                    font-family: 'Raleway', sans-serif;
                    background: rgba(255, 255, 255, 0.3);
                    font-size: 60px;
                    color:black;
                    margin: 0 auto;
                    margin-bottom: 55px;
                    margin-top: 55px;
            }

            .login{
                margin: 0 auto;
                width: 30%;
                height: 300px;
                background: white;
                border-radius: 15px;
            }
            .inputtextlogin{
                width: 80%;
                margin-top: 35px;
                padding: 12px 20px;
                border-radius: 10px;
                background: #eceff4;
                border: 0px;
            }
            ::-webkit-input-placeholder {
               text-align: left;
               color: #a7b2c2;
            }
            .buttonlogin{
                height: 50px;
                width: 40%;
                margin-top: 35px;
                background: #f05354;
                border-radius: 50px;
                color: white;
                border: 0px;
            }
            .inputcenterlogin{
                text-align: center;
                height: 100%;
            }
            .divNewPerson{
                width: 50%;
                display: inline-block;
            }
            .divPicturePerson{
                width: 40%;
                display: inline-block;
            }
            .divTable{
                display: table;
                width: 100%;
            }
            .divTableRow {
                display: table-row;
            }
            .divTableHeading {
                display: table-header-group;
            }
            .divTableCell, .divTableHead {
                display: table-cell;
                padding: 3px 10px;
            }
            .divTableHeading {
                display: table-header-group;
            }
            .divTableFoot {
                display: table-footer-group;
            }
            .divTableBody {
                display: table-row-group;
            }
            .personPicture{
                width: 150px;
                height: 150px;
                border: 1px solid #999999;
                background-size: cover;
                background-position: center;
            }
            .fileUpload {
                position: relative;
                overflow: hidden;
                margin: 10px;
                width: 40%;
            }
            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
            .upload{
                text-align: center;
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
            }
            .pointer{
                cursor:pointer;
            }